@font-face {
    font-family: 'Open Sans';
    src: url('./../../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans - Italic';
    src: url('./../../assets/fonts/OpenSans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Open Sans - Light';
    src: url('./../../assets/fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans - Bold';
    src: url('./../../assets/fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans - Extra Bold';
    src: url('./../../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'Open Sans - Semi Bold';
    src: url('./../../assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

body {
    font-family: 'Open Sans';
    color: white;
}

button {
    background-color: transparent;
    border-style: solid;
    border-width: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab, .tabClicked {
    font-family: 'Open Sans - Semi Bold';
    height: 100%;
    width: 30%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-size: 150%;
    border-bottom-width: 6px;
    outline:0;
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tab:active {
    color: rgba(255, 255, 255, 1);
}

.tabClicked:focus {
    outline:0;
}

.tabClicked {
    color: rgba(255, 255, 255, 1);
}

#background {
    /* background-color: aquamarine; */
    background-image: url('./../../assets/images/morning-fog.png');
    /* background-image: url('./../../assets/weather-icons/clear.png'); */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#top {
    width: 100%;
    height: 60%;
    top: 0;
    right: 0;
    left: 0;
}

#tabs {
    position: absolute;
    height: 6%;
    width: 35%;
    bottom: 30%;
    /* background-color: blueviolet */
}

#bottom {
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    width: 100%;
    height: 30%;
    right: 0;
    left: 0;
    bottom: 0;
}

#welcome {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
}

#welcomeText {
    text-align: center;
    font-size: 400%; 
    height: 60px;
}

#welcomeTime {
    font-family: 'Open Sans - Light';
    text-align: center;
    font-size: 250%;
    letter-spacing: 2px;
    /* padding-top: -50px; */
}

#location {
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    /* background-color: brown; */
}

#city {
    font-family: 'Open Sans - Extra Bold';
    font-size: 200%;
}

#country {
    font-family: 'Open Sans - Light';
    font-size: 170%;
}

#weatherTab {
    border-bottom-color: #ffe680;
}

#newsTab {
    border-bottom-color: #80ccff;
}